<div class="container-fluid">
    <br>
    <div class="container col-lg-8 mx-auto border bg-light rounded mb-4 shadow-sm">
        <br>
        {{#unless userResult}}
            <a href="/appointmentBooking/{{userinfo.id}}" type="button" class="rounded btn-lg btn-primary float-right">Create Appointment</a>
        {{/unless}}

        {{#if userResult}}
            <a href="/appointmentBooking/{{userResult.id}}" type="button" class="rounded btn-lg btn-primary float-right">Create Appointment</a>
        {{/if}}
        <P>
            {{#if userinfo.image}}
                <img src="/image/user/profileImage/{{userinfo.image}}"class="img-fluid img-thumbnail shadow-sm icon-profile">
            {{/if}}
            {{#unless userinfo.image}}
                <img src="/image/user/profileImage/default.png"class="img-fluid img-thumbnail shadow-sm icon-profile">
            {{/unless}}
            Name: 
            {{#unless userResult}}
                {{userinfo.firstName}} {{userinfo.lastName}} ({{userinfo.identificationNumber}})
            {{/unless}}
            {{#if userResult}}
                {{userResult.firstName}} {{userResult.lastName}} ({{userResult.identificationNumber}})
            {{/if}}
        </P>
        <br>
    </div>
    {{#unless appointmentResult}}
        <div class="container col-lg-8 mx-auto border bg-light rounded mb-5 text-center shadow">
        <br>
        You have no upcomming appointments.
        <br>
        <br>
        </div>
    {{/unless}}
    {{#each appointmentResult}}
    <div class="container col-lg-8 mx-auto border bg-light rounded mb-5 shadow">
        <br>
        <div class="row">
            <div class="col-1 border-right">
                {{#if medicalLocation.icon}}
                    <img src="/image/medicalLocation/{{medicalLocation.icon}}" class="img-thumbnail icon-standard">
                {{/if}}
                {{#unless medicalLocation.icon}}
                    <img src="/image/medicalLocation/default.png" class="img-thumbnail icon-standard">
                {{/unless}}
            </div>
            <div class="col">
                Date: {{this.dateOnly}} ({{this.dayOnly}}) <br>
                Time: {{this.timeOnly}} <br>
                
            </div>
        </div>
        <hr class="my-4">
        <p>
            {{this.medicalLocation.name}}<br>
            Department of {{this.department}}<br>
            {{this.clinic}}
        </p>
        <div class="input-group">
            <button type="button" class="rounded btn-secondary btn-lg form-control mr-3" data-toggle="modal" data-target="#cancelAppointment_{{this.id}}">Cancel Appointment</button>
                    <div class="modal fade" id="cancelAppointment_{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Appointment on: {{this.dateTime}} <br>
                                At {{this.medicalLocation.name}} <br>
                                Department of {{this.department}} <br>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a class="btn btn-danger" href="/appointmentCancelAction/{{this.id}}" role="button">Confirm</a>
                            </div>
                            </div>
                        </div>
                    </div>
            
            <a href="/appointmentReschedule/{{this.id}}" type="button" class="rounded btn-info btn-lg form-control text-center">Reschedule Appointment</a>
        </div>
        <br>
    </div>
    {{/each}}
</div>