<div class="container text-center push-down">

    <div class="shadow p-3 mb-5 bg-white rounded col-lg-12 mx-auto">
        <h2>Booking an appointment</h2>
        <p><small class="text-muted">Please fill in our online form and we will arrange your appointment, with the
                nearest available appointment slot.<br>
                This service is strictly for non-emergency, non-urgent cases and not applicable for Same Day Appointment
                requests.<br>
                For medical emergencies, please call your local emergency number. </small></p>
                
        <hr>
        <form action="/appointmentBookingAction" method="post">
            <div class="form-row">
                <input type="hidden" name="targetUserId" value="{{userResult.id}}"> 
                <div class="form-group col-md-4 col-lg-4">
                    <label>Identification</label>
                    <input type="text" class="form-control text-center" disabled
                        placeholder="{{userResult.identificationNumber}}">
                </div>
                <div class="form-group col-md-4 col-lg-4 float-right">
                    <label>Patient Name</label>
                    <input type="text" class="form-control text-center" disabled
                        placeholder="{{userResult.firstName}} {{userResult.lastName}}">
                </div>

                <div class="form-group col-md-4 col-lg-4">
                    <label>Phone Number</label>
                    <input type="text" class="form-control text-center" disabled
                        placeholder="{{userResult.primaryContactNum}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8 col-lg-8 float-right">

                </div>
                <div class="form-group col-md-4 col-lg-4">
                    <label>Alternate Contact Number</label>
                    <input type="text" class="form-control text-center"
                        name="inputAlternateContactNumber" placeholder="Optional">
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-6 col-lg-6">
                    <label>Location</label>
                    <select class="form-control" name="inputMedicalLocation" required>
                        <option value="" hidden>Please select a preferred location</option>
                        {{#each medicalLocationResult}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group col-md-6 col-lg-6">
                    <label>Department</label>
                    <select class="form-control" name="inputDepartment">
                        <option value="" hidden>Please select a service (Optional)</option>
                        <option value="">General Primary Care</option>
                        <option value="Anaesthesiology">Anaesthesiology</option>
                        <option value="Cardiology">Cardiology</option>
                        <option value="Cardiothoracic Surgery">Cardiothoracic Surgery</option>
                        <option value="Colorectal Surgery">Colorectal Surgery</option>
                        <option value="Dentistry">Dentistry</option>
                        <option value="Dermatology">Dermatology</option>
                        <option value="Diagnostic Radiology">Diagnostic Radiology</option>
                        <option value="Emergency Medicine">Emergency Medicine</option>
                        <option value="Endocrinology">Endocrinology</option>
                        <option value="Family Medicine">Family Medicine</option>
                        <option value="Gastroenterology">Gastroenterology</option>
                        <option value="General Surgery">General Surgery</option>
                        <option value="Geriatric Medicine">Geriatric Medicine</option>
                        <option value="Haematology">Haematology</option>
                        <option value="Hand Surgery">Hand Surgery</option>
                        <option value="Infectious Diseases">Infectious Diseases</option>
                        <option value="Internal Medicine">Internal Medicine</option>
                        <option value="Medical Oncology">Medical Oncology</option>
                        <option value="Neonatology">Neonatology</option>
                        <option value="Neurology">Neurology</option>
                        <option value="Neurosurgery">Neurosurgery</option>
                        <option value="Nuclear Medicine">Nuclear Medicine</option>
                        <option value="Obstetrics &amp; Gynaecology">Obstetrics &amp; Gynaecology</option>
                        <option value="Occupational Health &amp; Epidemiology">Occupational Health &amp; Epidemiology
                        </option>
                        <option value="Ophthalmology">Ophthalmology</option>
                        <option value="Oral &amp; Maxillofacial Surgery">Oral &amp; Maxillofacial Surgery</option>
                        <option value="Orthopaedic Surgery">Orthopaedic Surgery</option>
                        <option value="Otolaryngology (Ear, Nose &amp; Throat or ENT)">Otolaryngology (Ear, Nose &amp;
                            Throat or ENT)</option>
                        <option value="Paediatric Medicine">Paediatric Medicine</option>
                        <option value="Palliative Medicine">Palliative Medicine</option>
                        <option value="Pathology">Pathology</option>
                        <option value="Plastic Surgery &amp; Burns">Plastic Surgery &amp; Burns</option>
                        <option value="Psychiatric Medicine">Psychiatric Medicine</option>
                        <option value="Radiation Oncology">Radiation Oncology</option>
                        <option value="Rehabilitation Medicine">Rehabilitation Medicine</option>
                        <option value="Renal Medicine">Renal Medicine</option>
                        <option value="Respiratory Medicine">Respiratory Medicine</option>
                        <option value="Rheumatology &amp; Immunology">Rheumatology &amp; Immunology</option>
                        <option value="Sports Medicine">Sports Medicine</option>
                        <option value="Surgical Oncology">Surgical Oncology</option>
                        <option value="Urology">Urology</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-lg-6">
                    <label>Date</label>
                    <input type="date" class="form-control text-center" name="inputDate" required>
                </div>
                <div class="form-group col-md-6 col-lg-6">
                    <label>Time</label>
                    <select class="form-control" name="inputTime" required>
                        <option value="" hidden>Please select time slot</option>
                        <option value="08:00:00">8:00 AM</option>
                        <option value="08:15:00">8:15 AM</option>
                        <option value="08:30:00">8:30 AM</option>
                        <option value="08:45:00">8:45 AM</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="5" id="comment" name="inputDescription" placeholder="Please provide a brief description of your medical condition or symptoms. You may include any additional information that would be helpful."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Book an appointment</button>
        </form>
    </div>

</div>