<form action="/profileupdatesubmit" method="post">
    Email: <input type="text" name="email" value="{{userResult.email}}"><br>
    first name: <input type="text" name="firstName" value="{{userResult.firstName}}"><br>
    last name: <input type="text" name="lastName" value="{{userResult.lastName}}"><br>
    date of birth: <input type="text" name="dateofbirth" value="{{userResult.dateOfBirth}}"><br>
    sex: <input type="text" name="sex" value="{{userResult.sex}}"><br>
    ethnicity: <input type="text" name="ethnicity" value="{{userResult.ethnicity}}"><br>
    height: <input type="text" name="height" value="{{userResult.height}}"><br>
    weight: <input type="text" name="weight" value="{{userResult.weight}}"><br>
    country: <input type="text" name="country" value="{{userResult.country}}"><br>
    identificationNumber: <input type="text" name="identificationNumber" value="{{userResult.identificationNumber}}"><br>
    address: <input type="text" name="address" value="{{userResult.address}}"><br>
    postalCode: <input type="text" name="postalCode" value="{{userResult.postalCode}}"><br>
    mobileNumber: <input type="text" name="mobileNumber" value="{{userResult.mobileNumber}}"><br>
    <br>
    Password: <input type="text" name="password"><br>
    Confirm password: <input type="text" name="cfmpassword"><br>
    
    <input type="hidden" name="id" value="{{userResult.id}}"> 
    <input type="submit" value="Submit">
</form>

<br>

<form action="../profiledelete/{{userResult.id}}" method="get" onsubmit="return confirm('Do you want to delete?');">
    <input type="submit" name="upvote" value="Delete" />
</form>