<link rel="stylesheet" href="/css/billPayment.css">

<div class="container">
    <div class="card card-body">
        <div>
            <h3>
                <i class="fa fa-money" style="font-size:30px;color:green;"></i> Bill Payment Records</h3>
            <h5>Click
                <a href="/bill/billPayment" class="card-link">here</a> to pay any pending bills.</h5>
        </div>
        {{#if bills}} {{#each bills}}

        <div class="card border-primary mb-2 w-100 mx-auto" style="padding: 10px;">
            <div class="card-header">
                <h4 class="card-title">Payment ID: #{{id}}</h4>
                <h5 class="card-title">{{prefix}} {{first_name}} {{last_name}}</h5>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <p class="font-italic">Country</p>
                        <p class="text-info">
                            {{country}}
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <p class="font-italic">NRIC</p>
                        <p class="text-info">
                            {{nric}}
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <p class="font-italic">Email</p>
                        <p class="text-info">
                            {{email}}
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <p class="font-italic">Address</p>
                        <p class="text-info">
                            {{address}}
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <p class="font-italic">Contact No.</p>
                        <p class="text-info">
                            {{contact_no}}
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <p class="font-italic">Payment Method</p>
                        <p class="text-info">
                            {{payment_method}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12" id="storyAccordion">
                    {{#if accountNo}}
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseOne{{id}}" aria-expanded="false"
                        aria-controls="collapseOne">
                        <i class="fa fa-dollar"></i> Payment Details &nbsp;&nbsp;&nbsp;
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <div id="collapseOne{{id}}" class="collapse" aria-labelledby="headingOne" data-parent="#storyAccordion" style="padding: 10px;">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-4">
                                <p class="font-italic">Card Type</p>
                                <p class="text-info">
                                    {{creditcardtype}}{{debitcardtype}}
                                </p>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4">
                                <p class="font-italic">Account No.</p>
                                <p class="text-info">
                                    {{accountNo}}
                                </p>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4">
                                <p class="font-italic">Amount Paid</p>
                                <p class="text-info">
                                    ${{payAmt}}
                                </p>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4">
                                <p class="font-italic">Card No.</p>
                                <p class="text-info">
                                    {{cardNo}}
                                </p>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4">
                                <p class="font-italic">Card Expiry Date</p>
                                <p class="text-info">
                                    {{formatDate cardExpiry 'DD MMMM YYYY'}}
                                </p>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4">
                                <p class="font-italic">Card Verification Code</p>
                                <p class="text-info">
                                    {{cardVerify}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 10px;">
                        <a class="btn btn-danger card-link" href="/bill/delete/{{id}}" data-toggle="confirmation" data-title="Confirm delete?">Delete</a>
                    </div>
                    {{else}}
                    <div class="card card-body bg-warning col-lg-10" style="margin: auto;">
                        <p>
                            <strong>
                                <i class="fa fa-exclamation-triangle"></i> Warning! Payment not made. Please make your payment within 7 days of record.
                            </strong>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <a class="btn btn-warning" href="/bill/creditcard/{{id}}">Pay (Credit)</a>
                        </div>
                        <div class="col-lg-3">
                            <a class="btn btn-success" href="/bill/debitcard/{{id}}">Pay (Debit)</a>
                        </div>
                        <div class="col-lg-3">
                            <a class="btn btn-primary" href="/bill/paypal/{{id}}">Pay (Paypal)</a>
                        </div>
                        <div class="col-lg-3">
                            <a class="btn btn-danger card-link" href="/bill/delete/{{id}}" data-toggle="confirmation" data-title="Confirm delete?">Delete</a>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}} {{else}}
        <h5>No bills payments recorded.</h5>
        {{/if}}
    </div>
</div>