<link rel="stylesheet" href="/public/css/collection.css">
<div class="search-container">
    <input type="text" placeholder="Search.." id="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</div>
<hr>
<div class="container bg-light border">
    <div class="row">
        <div class="col-sm-6">
        <br>
            {{#if consultationResult.user.image}}
                    <img src="/image/user/profileImage/{{consultationResult.user.image}}">
                    {{/if}}
                    {{#unless consultationResult.user.image}}
                        <img src="/image/user/profileImage/default.png">
                    {{/unless}}
                    <p id="p_name" name = "patient_name">Name : {{consultationResult.user.firstName}} {{consultationResult.user.lastName}}</p>
                    <p id="p_queueNum" name = "patient_queue_number">Consultation Number: {{consultationResult.id}}</p>
                    <p id="p_nric" name = "patient_NIRC">NIRC : {{consultationResult.user.identificationNumber}}</p>
            <div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Medicine</th>
                            <th>Dispend or not dispend</th>
                        </tr>
                    </thead>
                    <colgroup>
                        <col class="col-md-4">
                        <col class="col-md-7">
                    </colgroup>
                    <tbody>
                        {{#each result}}
                        <tr>
                            <td>{{this.medicine_name}}</td>
                            <td><input type="checkbox" value="{{this.medicine_name}}"></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>    
    
            <div class="col-sm-4">
                <button id = "Button_done">Done</button>
            </div>
    </div>
</div>

